# This is the configuration file valid for the development environment.

debug = true
debugListen = "127.0.0.1:9001"
verbosity = 2
useArchivematica = false

[temporal]
namespace = "default"
address = "temporal.enduro-sdps:7233"
taskQueue = "global"

[api]
listen = "0.0.0.0:9000"
debug = false
corsOrigin = "http://localhost"

[api.auth]
enabled = true

[api.auth.oidc]
providerURL = "http://dex:5556"
clientID = "enduro"
clientSecret = "ZXhhbXBsZS1hcHAtc2VjcmV0"

[api.auth.ticket.redis]
address = "redis://redis.enduro-sdps:6379"
prefix = "enduro"

[event]
redisAddress = "redis://redis.enduro-sdps:6379"
redisChannel = "enduro-events"

[database]
driver = "mysql"
dsn = "enduro:enduro123@tcp(mysql.enduro-sdps:3306)/enduro"
migrate = true

[watcher.embedded]
name = "dev-minio"
redisAddress = "redis://redis.enduro-sdps:6379"
redisList = "minio-events"
endpoint = "http://minio.enduro-sdps:9000"
pathStyle = true
key = "minio"
secret = "minio123"
region = "us-west-1"
bucket = "sips"
stripTopLevelDir = true

[storage]
enduroAddress = "enduro-internal:9000"

[storage.database]
driver = "mysql"
dsn = "enduro:enduro123@tcp(mysql.enduro-sdps:3306)/enduro_storage"
migrate = true

[storage.internal]
endpoint = "http://minio.enduro-sdps:9000"
pathStyle = true
key = "minio"
secret = "minio123"
region = "us-west-1"
bucket = "aips"

[a3m]
address = "127.0.0.1:7000"
shareDir = "/home/a3m/.local/share/a3m/share"

[a3m.processing]
AssignUuidsToDirectories                     = true
ExamineContents                              = true
GenerateTransferStructureReport              = true
DocumentEmptyDirectories                     = true
ExtractPackages                              = true
DeletePackagesAfterExtraction                = true
IdentifyTransfer                             = true
IdentifySubmissionAndMetadata                = true
IdentifyBeforeNormalization                  = true
Normalize                                    = true
TranscribeFiles                              = true
PerformPolicyChecksOnOriginals               = true
PerformPolicyChecksOnPreservationDerivatives = true
AipCompressionLevel                          = 1
AipCompressionAlgorithm                      = 6

[am]
# address = "127.0.0.1:7000"
# shareDir = "/home/a3m/.local/share/a3m/share"

[upload]
endpoint = "http://minio.enduro-sdps:9000"
pathStyle = true
key = "minio"
secret = "minio123"
region = "us-west-1"
bucket = "sips"
