apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: enduro-sdps
resources:
  - ../../base
  - ../../components/dev
  - enduro-a3m.yaml
images:
  - name: ghcr.io/artefactual-sdps/enduro:main
    newName: enduro
    newTag: dev
  - name: ghcr.io/artefactual-sdps/enduro-a3m-worker:main
    newName: enduro-a3m-worker
    newTag: dev
  - name: ghcr.io/artefactual-sdps/enduro-dashboard:main
    newName: enduro-dashboard
    newTag: dev
