apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: enduro-sdps
resources:
  - ../../base
  - ../../components/dev
  - ambox.yaml
  - enduro-am-secret.yaml
  - enduro-am.yaml
  - mysql-create-amss-location-job.yaml
images:
  - name: ghcr.io/artefactual-sdps/enduro:main
    newName: enduro
    newTag: dev
  - name: ghcr.io/artefactual-sdps/enduro-am-worker:main
    newName: enduro-am-worker
    newTag: dev
  - name: ghcr.io/artefactual-sdps/enduro-dashboard:main
    newName: enduro-dashboard
    newTag: dev
patches:
  - target:
      kind: Deployment
      name: enduro
    path: enduro-patch.yaml
