@import "bootstrap-base.scss";
@import "bootstrap.scss";

html,
main {
  overflow-x: hidden;
}

button:focus:not(:focus-visible),
.btn:focus:not(:focus-visible) {
  box-shadow: none;
}

a:not(.btn),
.btn-link {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.font-monospace {
  line-height: 1;
  padding-top: 6px;
}

.line-break {
  white-space: break-spaces;
}

.min-w-0 {
  min-width: 0;
}

.accordion-button {
  background-color: var(--bs-light);
  border: solid 1px var(--bs-gray-500);
}

.accordion-button:hover,
.accordion-button:focus {
  background-color: var(--bs-primary-bg-subtle);
  border-color: var(--bs-primary);
  border-width: 2px;
}

.accordion-button.collapsed .h4 {
  color: var(--bs-dark);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
