on:
  pull_request:
  push:
    branches:
      - main
name: Atlas
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Read Go version
        id: go_version
        run: echo "go_version=$(cat .go-version)" >> $GITHUB_OUTPUT
      - name: Install Go (${{ steps.go_version.outputs.go_version }})
        uses: actions/setup-go@v5
        with:
          go-version: ${{ steps.go_version.outputs.go_version }}
      - name: Check atlas.sum
        run: |
          go run -mod=mod ariga.io/atlas/cmd/atlas@v0.5.0 \
            migrate validate --dir "file://./internal/storage/persistence/migrations"
