on:
  pull_request:
  push:
    branches:
      - main
name: Atlas
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: go.mod
      - name: Check atlas.sum
        run: |
          go tool bine run atlas \
            migrate validate --dir "file://./internal/storage/persistence/migrations"
