on:
  pull_request:
  push:
    branches:
      - main
name: Atlas
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
      - name: Check atlas.sum
        run: |
          go tool bine run atlas \
            migrate validate --dir "file://./internal/storage/persistence/migrations"
