on:
  pull_request:
  push:
    branches:
      - main
name: Lint
jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
      - name: Get date
        shell: bash
        run: |
          echo "DATE=$(date -u '+%Y-%m')" >> $GITHUB_ENV
      - name: Restore golangci-lint cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        timeout-minutes: 10
        continue-on-error: true
        with:
          path: ${{ runner.temp }}/golangci-lint-cache
          key: ${{ runner.os }}-golangci-lint-cache-${{ env.DATE }}
          restore-keys: |
            ${{ runner.os }}-golangci-lint-cache-
      - name: Run golangci-lint
        run: make lint LINT_FLAGS=--fix=0
        env:
          GOLANGCI_LINT_CACHE: ${{ runner.temp }}/golangci-lint-cache
  shfmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
      - name: Run shfmt
        run: make shfmt
