name: Nightly

on:
  workflow_dispatch: {}
  schedule:
    # Daily, at 1pm UTC / 6am PST.
    - cron: "0 13 * * *"

jobs:
  govulncheck:
    name: Go vulnerability check
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Execute govulncheck
        run: govulncheck ./...
  gosec:
    name: GoSec security scan
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Scan code
        uses: securego/gosec@9f202122a731425dfa2ee978fd0e4ba2d9d8e1dc # master
        with:
          args: ./...
