name: Nightly

on:
  workflow_dispatch: {}
  schedule:
    # Daily, at 1pm UTC / 6am PST.
    - cron: "0 13 * * *"

jobs:
  govulncheck:
    name: Go vulnerability check
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Execute govulncheck
        run: govulncheck ./...
  gosec:
    name: GoSec security scan
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Scan code
        uses: securego/gosec@dcf93a8b8ba2a90270e0ce35291cca8f7a4a90be # master
        with:
          args: ./...
