on: [workflow_dispatch]
name: Pulumi
jobs:
  dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.x
      - name: Download Go dependencies
        run: go mod download
        working-directory: hack/pulumi
      - name: Refresh and update Pulumi stack
        uses: pulumi/actions@v3.20.0
        with:
          command: up
          refresh: true
          stack-name: dev
          work-dir: hack/pulumi
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_TOKEN }}
          DOCKER_BUILDKIT: 1
      - name: Configure kubectl
        uses: azure/k8s-set-context@v3.1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.DO_DEV_KUBECONFIG }}
      - name: Flush existing data
        run: |
          kubectl config set-context --current --namespace sdps
          kubectl delete job --all
          kubectl create -f hack/kube/tools/mysql-recreate-databases-job.yaml
          kubectl create -f hack/kube/tools/minio-recreate-buckets-job.yaml
          kubectl wait --for=condition=complete --timeout=120s job --all
          kubectl rollout restart deployment temporal
          kubectl rollout restart deployment enduro
          kubectl rollout restart statefulset enduro-a3m
          kubectl rollout restart deployment dex
          kubectl create -f hack/kube/base/mysql-create-locations-job.yaml
