on: [workflow_dispatch]
name: Pulumi
jobs:
  dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: hack/pulumi/go.mod
      - name: Download Go dependencies
        run: go mod download
        working-directory: hack/pulumi
      - name: Refresh and update Pulumi stack
        uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6.6.1
        with:
          command: up
          refresh: true
          stack-name: dev
          work-dir: hack/pulumi
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_TOKEN }}
          DOCKER_BUILDKIT: 1
      - name: Configure kubectl
        uses: azure/k8s-set-context@ae59a723ba9abe7a9655538854a025448dbab4aa # v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.DO_DEV_KUBECONFIG }}
      - name: Flush existing data
        run: |
          kubectl config set-context --current --namespace sdps
          kubectl delete job --all
          kubectl create -f hack/kube/tools/mysql-recreate-databases-job.yaml
          kubectl create -f hack/kube/tools/minio-recreate-buckets-job.yaml
          kubectl wait --for=condition=complete --timeout=120s job --all
          kubectl rollout restart deployment temporal
          kubectl rollout restart deployment enduro
          kubectl rollout restart statefulset enduro-a3m
          kubectl create -f hack/kube/base/mysql-create-locations-job.yaml
