on:
  pull_request:
  push:
    branches:
      - main
name: Test
jobs:
  test:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: go.mod
      - name: Check mod tidy
        run: make mod-tidy-check
      - name: Test
        run: make test-ci
      - name: Determine skip-codecov
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: skip-codecov
        with:
          script: |
            // Sets `ref` to the SHA of the current pull request's head commit,
            // or, if not present, to the SHA of the commit that triggered the
            // event.
            const ref = '${{ github.event.pull_request.head.sha || github.event.after }}';
            const { repo, owner } = context.repo;
            const { data: commit } = await github.rest.repos.getCommit({ owner, repo, ref });
            const commitMessage = commit.commit.message;
            const skip = commitMessage.includes("[skip codecov]") || commitMessage.includes("[skip-codecov]");
            core.setOutput("skip", skip);
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        if: ${{ steps.skip-codecov.outputs.skip != 'true' }}
        with:
          files: covreport
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
