name: Threagile
on:
  push:
    paths:
      - "enduro.threagile.yaml" # Execute only when the threat model changes
jobs:
  threagile_job:
    runs-on: ubuntu-latest
    name: Threat Model Analysis
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run Threagile
        id: threagile
        uses: threagile/run-threagile-action@ad13d6b6b446457db42253272c3e41334d649225 # v1
        with:
          model-file: "enduro.threagile.yaml"
      - name: Archive results
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: threagile-report
          path: threagile/output
