name: Threagile
on:
  push:
    paths:
      - "enduro.threagile.yaml" # Execute only when the threat model changes
jobs:
  threagile_job:
    runs-on: ubuntu-latest
    name: Threat Model Analysis
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run Threagile
        id: threagile
        uses: threagile/run-threagile-action@ad13d6b6b446457db42253272c3e41334d649225 # v1
        with:
          model-file: "enduro.threagile.yaml"
      - name: Archive results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: threagile-report
          path: threagile/output
