on:
  pull_request:
  push:
    branches:
      - main
name: Tilt CI
jobs:
  tilt-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Create k8s cluster
        uses: AbsaOSS/k3d-action@v2.3.0
        with:
          cluster-name: sdps-ci
          args: >-
            --registry-create sdps-ci-registry
            --no-lb
            --k3s-arg "--no-deploy=traefik,servicelb,metrics-server@server:*"
      - name: Install Tilt
        uses: yokawasa/action-setup-kube-tools@v0.9.1
        with:
          setup-tools: |
            tilt
          tilt: v0.30.2
      - name: Check tilt ci
        run: timeout 600 tilt ci
