name: Trivy

on:
  pull_request:
  push:
    branches:
      - main

permissions: read-all

jobs:
  trivy:
    name: Run Trivy for IaC Security Analysis
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # master
        with:
          scan-type: "config"
          exit-code: "1"
          severity: "CRITICAL,HIGH,MEDIUM"
        env:
          TRIVY_MISCONFIG_SCANNERS: dockerfile
